<h2>Viewing Journal <%= @year %></h2>
<ul class="viewing-journal">
  <% @viewings.each do |viewing| %>
    <li><%= viewing.display_format %> <span class="rating"><%= viewing.rating %></span></li>
  <% end %>
</ul>
